{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block css %}
<style>
        .main {
            box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.5);
            border-radius: 40px;
            margin: 50px;
            width: auto;
            margin-left: 10%;
            margin-right: 10%;
        }

        .img {
            float: right;
        }

        @media (max-width: 600px) {
            .main {
                margin-top: 100px;
            }
            .img {
                float: none;
            }
        }

        .highcharts-axis-labels {
            font-family: 'Roboto';
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        center {
            font-family: 'Roboto';
        }
    </style>
{% endblock %}
{% block content %}
<div class="main">
    <section id="main" style="padding-top: 40px; padding-bottom: 40px; border-radius: 40px;">

        <div style="padding-left: 50px; padding-right: 50px;">
            <div style="display: flow-root;">
                <div style="float: left;">
                    <h3 style="text-align: left; font-weight:bold; padding-top: 20px; font-size: 36px;">{{ city.name }}
                        <a href="/tcity/{{ city.type_city }}"style="font-weight: normal; font-size: 24px">({{ city.get_city_type }})</a></h3>
                    <h3 style="font-weight:bold;">IQ Города:<a style="color: #59ADFF"> {{ index.index_iq }}</a></h3>
                </div>
                <img class="img" src="{{ city.link_gerb }}">
            </div>

            <div>
                <div class="margbot30" style="font-size: 24px; width: 100%; text-align: justify; padding-top: 10px">
                    <p>
                        {% if city.desc %}
                        {{ city.desc }}
                        {% else %}
                        Нет описания
                        {% endif %}
                    </p>
                </div>
            </div>
            <h3 style="font-weight:bold;">Население города: <a class="number" style="font-weight:normal;">{{ city.qty_peopls }}</a>
                человек</h3>
            <div>
                <div class="margbot30" style="font-size: 24px; width: 100%; text-align: justify; padding-top: 10px">
                    <div id="container"></div>
                </div>
            </div>
            <h3 style="font-weight:bold;">Результаты оценки:</h3>
            <div>
                <div class="margbot30" style="font-size: 24px; width: 100%; text-align: justify; padding-top: 10px">
                    <div class="spiderChart"></div>
                </div>
            </div>

        </div>
    </section>
</div>
</div>
<script>
        d1 = parseFloat("{{ index.direction1 }}".replace(',','.'));
        d2 = parseFloat("{{ index.direction2 }}".replace(',','.'));
        d3 = parseFloat("{{ index.direction3 }}".replace(',','.'));
        d4 = parseFloat("{{ index.direction4 }}".replace(',','.'));
        d5 = parseFloat("{{ index.direction5 }}".replace(',','.'));
        d6 = parseFloat("{{ index.direction6 }}".replace(',','.'));
        d7 = parseFloat("{{ index.direction7 }}".replace(',','.'));
        d8 = parseFloat("{{ index.direction8 }}".replace(',','.'));
        d9 = parseFloat("{{ index.direction9 }}".replace(',','.'));
        d10 = parseFloat("{{ index.direction10 }}".replace(',','.'));
        $('.spiderChart').highcharts({

            chart: {
                polar: true,
                type: 'line',
                style: {
                    fontFamily: "Roboto", // default font
                    fontSize: '12px'
                }
            },

            title: {
                text: '',
                x: -80
            },

            colors: ['#0067ac', '#a02842', '#007680'],

            pane: {
                size: '80%'
            },

            xAxis: {
                categories: ["<a href='/subindex/{{city.id}}/1'>Городское управление</a>",
                             "<a href='/subindex/{{city.id}}/2'>Инновации для городской среды</a>",
                             "<a href='/subindex/{{city.id}}/3'>Интеллектуальные системы общественной безопасности</a>",
                             "<a href='/subindex/{{city.id}}/4'>Инфраструктура сетей связи</a>",
                             "<a href='/subindex/{{city.id}}/5'>Умное ЖКХ</a>",
                             "<a href='/subindex/{{city.id}}/6'>Умный городской транспорт</a>",
                             "<a href='/subindex/{{city.id}}/7'>Интеллектуальный системы экологической безопасности</a>",
                             "<a href='/subindex/{{city.id}}/8'>Туризм и сервис</a>",
                             "<a href='/subindex/{{city.id}}/9'>Интеллектуальные системы социальных услуг</a>",
                             "<a href='/subindex/{{city.id}}/10'>Экономическое состояние и инвестиционный климат</a>"],
                tickmarkPlacement: 'on',
                lineWidth: 0
            },

            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0,
                max: 12,
                tickInterval: 3
            },

            credits: {
                text: ''
            },

            tooltip: {
                shared: true,
                pointFormat: '<span style="color:{series.color}"> <b>{point.y:,.2f}</b><br/>'
            },

            legend: {
                enabled: false,
            },

            series: [{
                data: [d1,
                        d2,
                        d3,
                        d4,
                        d5,
                        d6,
                        d7,
                        d8,
                        d9,
                        d10],
                pointPlacement: 'on'
            }]
        });
    </script>
    <script>
        Array.from(document.getElementsByClassName('number'), e => e.textContent = e.textContent.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 '));
    </script>
{% endblock %}
